<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <!-- Navbar Brand with Logo -->
    <a class="navbar-brand" href="/">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Otsuka_Holdings_logo.svg/2560px-Otsuka_Holdings_logo.svg.png"
        alt="Otsuka Logo"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>

    <!-- Button Toggle for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/master-user">Master User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
