<div class="container mt-4 mb-4">
  <!-- Add Data Button -->
  <button class="btn btn-primary btn-icon" (click)="addButton(modalAdd)">
    <i class="bi bi-plus-lg"></i>
  </button>

  <!-- Modal Template for Add Data -->
  <ng-template #modalAdd let-modal>
    <div class="modal-header bg-primary text-white p-4">
      <h5 class="modal-title">Add Data</h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        (click)="modal.dismiss()"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body bg-white p-4">
      <!-- Form masuk ke dalam bagian "FORM DATA" -->
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Application Name"
            required
            formControlName="title"
            [ngClass]="{ 'is-invalid': af['title'].errors }"
          />

          <div
            *ngIf="af['title'].touched && af['title'].errors"
            class="invalid-feedback"
          >
            Title is required
          </div>
        </div>
        <div class="mb-3">
          <label for="category_id" class="form-label">Category</label>
          <select
            class="form-select"
            formControlName="category_id"
            [ngClass]="{ 'is-invalid': af['category_id'].errors }"
          >
            <option value="" selected>Select Category</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.category }}
            </option>
          </select>
          <div
            *ngIf="af['category_id'].touched && af['category_id'].errors"
            class="invalid-feedback"
          >
            Category is required
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Application Name"
            required
            formControlName="description"
            [ngClass]="{ 'is-invalid': af['description'].errors }"
          />
          <div
            *ngIf="af['description'].touched && af['description'].errors"
            class="invalid-feedback"
          >
            Description is required
          </div>
        </div>
        <div class="mb-3">
          <label for="progress" class="form-label">Progress</label>
          <input
            type="number"
            class="form-control"
            id="progress"
            placeholder="Application Name"
            required
            formControlName="progress"
            [ngClass]="{ 'is-invalid': af['progress'].errors }"
          />
          <div
            *ngIf="af['progress'].touched && af['progress'].errors"
            class="invalid-feedback"
          >
            Progress is required
          </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <button
            type="button"
            class="btn btn-secondary px-4 py-2 rounded-top"
            (click)="modal.dismiss()"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary px-4 py-2 rounded-top">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Table Section -->
  <div class="card shadow-sm p-4 rounded">
    <h2 class="h4 mb-4">User Data</h2>
    <apx-chart 
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [yaxis]="chartOptions.yaxis">
    </apx-chart>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Progress</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of userData">
          <td>{{ element.id }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.category_id }}</td>
          <td>{{ element.description }}</td>
          <td>
            <!-- Progress Bar -->
            <div class="progress" style="height: 20px">
              <div
                class="progress-bar"
                [ngClass]="{
                  'bg-danger': element.progress <= 30,
                  'bg-warning': element.progress > 30 && element.progress <= 70,
                  'bg-success': element.progress > 70
                }"
                role="progressbar"
                [style.width.%]="element.progress"
                [attr.aria-valuenow]="element.progress"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ element.progress }}%
              </div>
            </div>
          </td>
          <td>
            <button
              class="btn btn-warning btn-icon me-2"
              (click)="editButton(element.id)"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-danger btn-icon"
              (click)="onDeleteUser(element.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
