<div class="content">
  <!-- Konten lainnya di sini -->
</div>

<footer class="bg-primary text-white py-4">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>2025 PT Amertha Indah Otsuka. All Rights Reserved.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <hr class="bg-white" />
    <p class="mb-0">
      &copy; 2025 PT Amertha Indah Otsuka. All Rights Reserved.
    </p>
  </div>
</footer>
