/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Oxygen", serif;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* Menjaga footer selalu di bawah */
}
